

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'RedHat', sans-serif;
}

@font-face {
  font-family: 'RedHat';
  src: url('./fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedHat';
  src: url('./fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal; 
  font-style: italic;
}


