/* Mobile layout */
.contentContainer {
    display: flex;
    flex-direction: column;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCF8F6;
}

.title {
    padding-left: 15px;
}

.background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.5;
    z-index: 999;
    background-color: #000000;
    display: block;
    overflow: hidden;
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
    .mainContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FCF8F6;
        padding-left:15px;
        width: fit-content;
    }

    .itemContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns, each takes 1 fraction of available space */
        gap: 16px; /* Optional: Add space between grid items */
        width: fit-content;
      }

    .contentContainer {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FCF8F6;
        width: 100%;
    }

    .title {
        padding-left: 15px;
    }
} 

/* Desktop Layout  */
@media (min-width: 1023px) { 
.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FCF8F6;
}

.mainItemContainer {
    display: flex;
    flex-direction: column;
    background-color: #FCF8F6;
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, each takes 1 fraction of available space */
  gap: 16px; /* Optional: Add space between grid items */
  width:fit-content;
}

.contentContainer {
    display: flex;
}
}

